@tailwind base;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: #00000015;
}

::-webkit-scrollbar-thumb {
  background-color: #13131374;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #13131399;
}
